HELP.md
target/

# Google API credentials
src/main/resources/client_secret.json
tokens/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr


