# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Run Java CI with Maven

on:
  push:
    branches: 
    - master
    - releases/*
  pull_request:
    branches:
    - master
    - releases/*
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Standard

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Pull client_secret.json file
        env:
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET_JSON }}
        run: |
          echo "$CLIENT_SECRET" > ./src/main/resources/client_secret.json

      - name: Build with Maven
        run: mvn package
      - name: Test with Maven
        run: mvn test
